{{- if or (.Params.mermaid) (.Site.Params.mermaid) -}}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const storedTheme = localStorage.getItem('pref-theme');
  let theme = 'default';
  if (storedTheme === 'dark' || (prefersDark && storedTheme !== 'light')) {
    theme = 'dark';
  }
  mermaid.initialize({ startOnLoad: true, theme });
</script>
{{- end -}}
